#include <windows.h>
#include "resource.h"

#pragma code_page(65001) // UTF-8

#define STRINGIZE(x) #x
#define EXPAND(x) STRINGIZE(x)

#define TITLE_EN_US "FRP Manager Setup"
#define TITLE_ZH_CN "FRP 管理器安装程序"
#define TITLE_ZH_TW "FRP 管理器安裝程式"
#define TITLE_JA_JP "FRP マネージャーインストーラー"
#define TITLE_KO_KR "FRP 관리자 설치 프로그램"
#define TITLE_ES_ES "Instalación de Administrador de FRP"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST manifest.xml
IDI_ICON        ICON           "../icon/app.ico"
IDR_MSI         RCDATA         EXPAND(MSI_FILE)

#define VERSIONINFO_TEMPLATE(block_id, lang_id, charset_id, file_desc, product_name) \
VS_VERSION_INFO VERSIONINFO \
FILEVERSION    VERSION_ARRAY \
PRODUCTVERSION VERSION_ARRAY \
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK \
FILEFLAGS      0x0 \
FILEOS         VOS__WINDOWS32 \
FILETYPE       VFT_APP \
FILESUBTYPE    VFT2_UNKNOWN \
BEGIN \
  BLOCK "StringFileInfo" \
  BEGIN \
    BLOCK block_id \
    BEGIN \
      VALUE "CompanyName", "FRP Manager Project" \
      VALUE "FileDescription", file_desc \
      VALUE "FileVersion", EXPAND(VERSION_STR) \
      VALUE "InternalName", "frpmgr-setup" \
      VALUE "LegalCopyright", "Copyright © FRP Manager Project" \
      VALUE "OriginalFilename", EXPAND(FILENAME) \
      VALUE "ProductName", product_name \
      VALUE "ProductVersion", EXPAND(VERSION_STR) \
      VALUE "Comments", "https://github.com/koho/frpmgr" \
    END \
  END \
  BLOCK "VarFileInfo" \
  BEGIN \
    VALUE "Translation", lang_id, charset_id \
  END \
END

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
VERSIONINFO_TEMPLATE(
  "040904B0", 0x0409, 1200,
  TITLE_EN_US,
  "FRP Manager"
)

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
VERSIONINFO_TEMPLATE(
  "080404B0", 0x0804, 1200,
  TITLE_ZH_CN,
  "FRP 管理器"
)

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL
VERSIONINFO_TEMPLATE(
  "040404B0", 0x0404, 1200,
  TITLE_ZH_TW,
  "FRP 管理器"
)

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
VERSIONINFO_TEMPLATE(
  "041104B0", 0x0411, 1200,
  TITLE_JA_JP,
  "FRP マネージャ"
)

LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
VERSIONINFO_TEMPLATE(
  "041204B0", 0x0412, 1200,
  TITLE_KO_KR,
  "FRP 관리자"
)

LANGUAGE LANG_SPANISH, SUBLANG_SPANISH_MODERN
VERSIONINFO_TEMPLATE(
  "0C0A04B0", 0x0C0A, 1200,
  TITLE_ES_ES,
  "Administrador de FRP"
)

#define LANG_DIALOG_TEMPLATE(title, description, ok, cancel) \
IDD_LANG_DIALOG DIALOGEX 0, 0, 252, 69 \
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU \
CAPTION title \
FONT 9, "Segoe UI" \
BEGIN \
   COMBOBOX IDC_LANG_COMBO, 34, 30, 211, 374, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP \
   DEFPUSHBUTTON ok, IDOK, 141, 48, 50, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP \
   PUSHBUTTON cancel, IDCANCEL, 195, 48, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP \
   LTEXT description, IDC_STATIC, 34, 8, 211, 20, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP \
   ICON IDI_ICON, IDC_STATIC, 7, 7, 21, 20, SS_ICON | WS_CHILD | WS_VISIBLE \
END

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
LANG_DIALOG_TEMPLATE(
  TITLE_EN_US, "Select the language for the installation from the choices below.", "OK", "Cancel"
)

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
LANG_DIALOG_TEMPLATE(
  TITLE_ZH_CN, "从下列选项中选择安装语言。", "确定", "取消"
)

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL
LANG_DIALOG_TEMPLATE(
  TITLE_ZH_TW, "從下列選項中選擇安裝語言。", "確定", "取消"
)

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
LANG_DIALOG_TEMPLATE(
  TITLE_JA_JP, "以下のオプションからインストール言語を選択してください。", "OK", "キャンセル"
)

LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
LANG_DIALOG_TEMPLATE(
  TITLE_KO_KR, "아래 옵션에서 설치 언어를 선택하세요.", "확인", "취소"
)

LANGUAGE LANG_SPANISH, SUBLANG_SPANISH_MODERN
LANG_DIALOG_TEMPLATE(
  TITLE_ES_ES, "Seleccione el idioma para la instalación entre las opciones siguientes.", "Aceptar", "Cancelar"
)

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
IDS_TITLE TITLE_EN_US
IDS_MANAGEMENT "Manage Current Product"
IDS_OPERATION "Select the action you want to perform."
IDS_REINSTALL "Reinstall with ""%1""%rThis operation requires suspending the running services.\0 "
IDS_UNINSTALL "Uninstall"
END

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
STRINGTABLE
BEGIN
IDS_TITLE TITLE_ZH_CN
IDS_MANAGEMENT "管理当前产品"
IDS_OPERATION "选择希望执行的操作。"
IDS_REINSTALL "以 “%1” 重新安装%r此操作需要暂停正在运行的服务。\0 "
IDS_UNINSTALL "卸载"
END

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL
STRINGTABLE
BEGIN
IDS_TITLE TITLE_ZH_TW
IDS_MANAGEMENT "管理現行產品"
IDS_OPERATION "選取您要執行的作業。"
IDS_REINSTALL "以「%1」重新安裝%r此操作需要暫停正在運作的服務。\0 "
IDS_UNINSTALL "移除"
END

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
IDS_TITLE TITLE_JA_JP
IDS_MANAGEMENT "現在のインストールの管理"
IDS_OPERATION "実行するアクションを選択します。"
IDS_REINSTALL "「%1」で再インストールします%rこの操作では実行中のサービスを一時停止する必要があります。\0 "
IDS_UNINSTALL "アンインストール"
END

LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
IDS_TITLE TITLE_KO_KR
IDS_MANAGEMENT "현재 제품 관리"
IDS_OPERATION "수행하고자 하는 작업을 선택하세요."
IDS_REINSTALL """%1""로 다시 설치%r이 작업을 수행하려면 실행 중인 서비스를 중단해야 합니다.\0 "
IDS_UNINSTALL "제거하다"
END

LANGUAGE LANG_SPANISH, SUBLANG_SPANISH_MODERN
STRINGTABLE
BEGIN
IDS_TITLE TITLE_ES_ES
IDS_MANAGEMENT "Administrar el producto actual"
IDS_OPERATION "Seleccione la acción que desea realizar."
IDS_REINSTALL "Reinstalar con ""%1""%rEsta operación requiere suspender los servicios en ejecución.\0 "
IDS_UNINSTALL "Desinstalar"
END
