# Language Setting File
# 
# Specify your preferred Language ID on this setting file.
# The text messages will be displayed in the specified language.
# 
# Please note that you must restart program to apply the modification of
# this setting file.
# 
# Only one line is acceptable. Any other lines are ignored.
#
# Available Language IDs are:
#  zh-CN: Simplified Chinese (简体中文)
#  zh-TW: Traditional Chinese (繁體中文)
#  en-US: English (English)
#  ja-JP: Japanese (日本語)
#  ko-KR: Korean (한국어)
#  es-ES: Spanish (Español)

# Specify a Language ID here.
