#include <windows.h>
#include "resource.h"

#pragma code_page(65001) // UTF-8

#define STRINGIZE(x) #x
#define EXPAND(x) STRINGIZE(x)

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST manifest.xml
IDI_APP      ICON icon/app.ico
IDI_DOT      ICON icon/dot.ico
IDI_OPEN     ICON icon/open.ico
IDI_REFRESH  ICON icon/refresh.ico
IDI_COPY     ICON icon/copy.ico
IDI_COPY_ACT ICON icon/copy_act.ico
IDI_SHELL    ICON icon/shell.ico
IDI_PLAY     ICON icon/play.ico
IDI_PAUSE    ICON icon/pause.ico
IDI_KEY      ICON icon/key.ico

#define VERSIONINFO_TEMPLATE(block_id, lang_id, charset_id, file_desc) \
VS_VERSION_INFO VERSIONINFO \
FILEVERSION    VERSION_ARRAY \
PRODUCTVERSION VERSION_ARRAY \
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK \
FILEFLAGS      0x0 \
FILEOS         VOS__WINDOWS32 \
FILETYPE       VFT_APP \
FILESUBTYPE    VFT2_UNKNOWN \
BEGIN \
  BLOCK "StringFileInfo" \
  BEGIN \
    BLOCK block_id \
    BEGIN \
      VALUE "CompanyName", "FRP Manager Project" \
      VALUE "FileDescription", file_desc \
      VALUE "FileVersion", EXPAND(VERSION_STR) \
      VALUE "InternalName", "frpmgr" \
      VALUE "LegalCopyright", "Copyright © FRP Manager Project" \
      VALUE "OriginalFilename", "frpmgr.exe" \
      VALUE "ProductName", file_desc \
      VALUE "ProductVersion", EXPAND(VERSION_STR) \
      VALUE "Comments", "https://github.com/koho/frpmgr" \
    END \
  END \
  BLOCK "VarFileInfo" \
  BEGIN \
    VALUE "Translation", lang_id, charset_id \
  END \
END

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
VERSIONINFO_TEMPLATE(
  "040904B0", 0x0409, 1200,
  "FRP Manager"
)

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
VERSIONINFO_TEMPLATE(
  "080404B0", 0x0804, 1200,
  "FRP 管理器"
)

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL
VERSIONINFO_TEMPLATE(
  "040404B0", 0x0404, 1200,
  "FRP 管理器"
)

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
VERSIONINFO_TEMPLATE(
  "041104B0", 0x0411, 1200,
  "FRP マネージャ"
)

LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
VERSIONINFO_TEMPLATE(
  "041204B0", 0x0412, 1200,
  "FRP 관리자"
)

LANGUAGE LANG_SPANISH, SUBLANG_SPANISH
VERSIONINFO_TEMPLATE(
  "0C0A04B0", 0x0C0A, 1200,
  "Administrador de FRP"
)

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_VALIDATE DIALOGEX 0, 0, 275, 114
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "@IDD_VALIDATE"
FONT 9, "Microsoft YaHei", 400, 0, 0x80
BEGIN
    ICON            IDI_KEY,IDC_STATIC,7,5,20,18
    LTEXT           "@IDC_TITLE",IDC_TITLE,31,5,237,30
    RTEXT           "@IDC_STATIC2",IDC_STATIC2,33,59,49,11
    EDITTEXT        IDC_EDIT,87,58,141,11,ES_PASSWORD | ES_AUTOHSCROLL
    GROUPBOX        "@IDC_STATIC1",IDC_STATIC1,26,40,222,43
    DEFPUSHBUTTON   "@IDOK",IDOK,158,95,52,14
    PUSHBUTTON      "@IDCANCEL",IDCANCEL,216,95,52,14
END
