<?xml version="1.0" encoding="UTF-8"?>

<?if $(sys.BUILDARCH) = x64 ?>
	<?define Win64 = "yes" ?>
	<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
	<?define UpgradeCode = "c9f7c2b3-291a-454a-9871-150d98dc2645" ?>
<?else?>
	<?define Win64 = "no" ?>
	<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
	<?define UpgradeCode = "46E3AA36-10BB-4CD9-92E3-5F990AB5FC88" ?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="!(loc.ApplicationName)" Language="!(loc.Language)" Version="$(var.VERSION)" Manufacturer="FRP Manager Project" UpgradeCode="$(var.UpgradeCode)">

		<Package InstallerVersion="400" Compressed="yes" InstallScope="perMachine" Languages="1033,1041,1042,2052,1028,3082" Description="!(loc.ApplicationName)" />

		<MediaTemplate EmbedCab="yes" CompressionLevel="high" />

		<!--
			Upgrading
		-->
		<MajorUpgrade AllowDowngrades="yes" />

		<Icon Id="ProductIcon" SourceFile="..\icon\app.ico" />
		<Binary Id="actions.dll" SourceFile="build\$(sys.BUILDARCH)\actions.dll" />

		<Property Id="ARPPRODUCTICON" Value="ProductIcon" />
		<Property Id="ARPURLINFOABOUT" Value="https://github.com/koho/frpmgr" />
		<Property Id="ARPNOREPAIR" Value="yes" />
		<Property Id="DISABLEADVTSHORTCUTS" Value="yes" />
		<Property Id="REINSTALLMODE" Value="amus" />

		<!--
			Detect previous install folder if it's a upgrade
		-->
		<SetProperty Id="INSTALLFOLDER" Value="[PREVINSTALLFOLDER]" After="AppSearch" Sequence="first">
			WIX_UPGRADE_DETECTED
		</SetProperty>

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<Property Id="LicenseAccepted" Value="1" />

		<Feature Id="ProductFeature" Title="FRP" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

		<UI>
			<UIRef Id="WixUI_InstallDir" />
			<UIRef Id="WixUI_ErrorProgressText" />

			<!-- Skip license dialog -->
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
			<Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>

			<!-- Launch application after installation -->
			<Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">NOT Installed</Publish>
		</UI>
	</Product>

	<!--
		Folders
	-->
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)">
				<Directory Id="INSTALLFOLDER" Name="FRP" />
			</Directory>
			<Directory Id="ProgramMenuFolder" />
		</Directory>
	</Fragment>

	<!--
		Components
	-->
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Guid="{E39EABEF-A7EB-4EAF-AD3E-A1254450BBE1}" Id="MainApplication" Win64="$(var.Win64)">
				<File Id="MainApplication" Source="..\bin\$(sys.BUILDARCH)\frpmgr.exe" KeyPath="yes">
					<Shortcut Id="StartMenuShortcut" Name="!(loc.ApplicationName)" Directory="ProgramMenuFolder" WorkingDirectory="INSTALLFOLDER" Advertise="yes"/>
				</File>
				<!-- A dummy to make WiX create ServiceControl table for us. -->
				<ServiceControl Id="DummyService.E3F2D6BE_38C7_4654_9C1B_C667A1F9040A" Name="DummyService.E3F2D6BE_38C7_4654_9C1B_C667A1F9040A" />
			</Component>
			<Component Guid="{4D11B79E-74E2-4F35-81EA-8B5CC7225A78}" Id="LangConfig" Win64="$(var.Win64)">
				<File Id="LangConfig" Source="..\cmd\frpmgr\lang.config" KeyPath="yes"/>
			</Component>
			<Component Guid="{B73203B2-5C06-4C45-BC6C-1C98CE11A292}" Id="AppConfig" Win64="$(var.Win64)">
				<File Id="AppConfig" Source="..\cmd\frpmgr\app.config" KeyPath="yes"/>
			</Component>
		</ComponentGroup>
	</Fragment>

	<!--
		Actions
	-->
	<Fragment>
		<SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALLFOLDER]" After="CostFinalize" />
		<CustomAction Id="KillProcesses.SetProperty" Return="check" Property="KillProcesses" Value="[#MainApplication]" />
		<CustomAction Id="EvaluateFrpServices.SetProperty" Return="check" Property="EvaluateFrpServices" Value="[#MainApplication]" />
		<CustomAction Id="RemoveFrpFiles.SetProperty" Return="check" Property="RemoveFrpFiles" Value="[INSTALLFOLDER]" />
		<CustomAction Id="SetLangConfig.SetProperty" Return="check" Property="SetLangConfig" Value="[#LangConfig]" />
		<CustomAction Id="MoveFrpProfiles.SetProperty" Return="check" Property="MoveFrpProfiles" Value="[INSTALLFOLDER]" />
		<CustomAction Id="RemoveOldFrpServices.SetProperty" Return="check" Property="RemoveOldFrpServices" Value="[#MainApplication]" />

		<!--
			Launch application
		-->
		<Property Id="WixShellExecTarget" Value="[#MainApplication]" />
		<CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

		<!--
			Close GUI windows
		-->
		<CustomAction Id="KillGUIProcesses" BinaryKey="actions.dll" DllEntry="KillGUIProcesses" Impersonate="yes" Execute="immediate" />
		<InstallExecuteSequence>
			<Custom Action="KillGUIProcesses" Before="InstallValidate">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
		</InstallExecuteSequence>

		<!--
			Evaluate FRP services
		-->
		<CustomAction Id="EvaluateFrpServices" BinaryKey="actions.dll" DllEntry="EvaluateFrpServices" Impersonate="no" Execute="deferred" />
		<InstallExecuteSequence>
			<Custom Action="EvaluateFrpServices.SetProperty" After="InstallInitialize" />
			<Custom Action="EvaluateFrpServices" After="EvaluateFrpServices.SetProperty">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
		</InstallExecuteSequence>

		<!--
			Kill lingering processes
		-->
		<CustomAction Id="KillProcesses" BinaryKey="actions.dll" DllEntry="KillProcesses" Impersonate="no" Execute="deferred" />
		<InstallExecuteSequence>
			<Custom Action="KillProcesses.SetProperty" After="StopServices" />
			<Custom Action="KillProcesses" After="KillProcesses.SetProperty">REMOVE="ALL"</Custom>
		</InstallExecuteSequence>

		<!--
			Delete files generated by FRP
		-->
		<CustomAction Id="RemoveFrpFiles" BinaryKey="actions.dll" DllEntry="RemoveFrpFiles" Impersonate="no" Execute="deferred" />
		<InstallExecuteSequence>
			<Custom Action="RemoveFrpFiles.SetProperty" After="DeleteServices" />
			<Custom Action="RemoveFrpFiles" After="RemoveFrpFiles.SetProperty">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
		</InstallExecuteSequence>

		<!--
			Set language of the product
		-->
		<CustomAction Id="SetLangConfig" BinaryKey="actions.dll" DllEntry="SetLangConfig" Impersonate="no" Execute="deferred" />
		<InstallExecuteSequence>
			<Custom Action="SetLangConfig.SetProperty" After="InstallFiles" />
			<Custom Action="SetLangConfig" After="SetLangConfig.SetProperty">NOT (REMOVE="ALL")</Custom>
		</InstallExecuteSequence>

		<!--
			Move old profiles to the new folder
		-->
		<CustomAction Id="MoveFrpProfiles" BinaryKey="actions.dll" DllEntry="MoveFrpProfiles" Impersonate="no" Execute="deferred" />
		<InstallExecuteSequence>
			<Custom Action="MoveFrpProfiles.SetProperty" After="InstallFiles" />
			<Custom Action="MoveFrpProfiles" After="MoveFrpProfiles.SetProperty">NOT (REMOVE="ALL")</Custom>
		</InstallExecuteSequence>

		<!--
			Delete old version frp services
		-->
		<CustomAction Id="RemoveOldFrpServices" BinaryKey="actions.dll" DllEntry="RemoveOldFrpServices" Impersonate="no" Execute="deferred" />
		<InstallExecuteSequence>
			<Custom Action="RemoveOldFrpServices.SetProperty" After="InstallFiles" />
			<Custom Action="RemoveOldFrpServices" After="RemoveOldFrpServices.SetProperty">NOT (REMOVE="ALL")</Custom>
		</InstallExecuteSequence>
	</Fragment>
</Wix>
