name: Releaser

on:
  release:
    types: [published]

jobs:
  build:
    name: Build
    runs-on: windows-latest
    outputs:
      version: ${{ steps.build.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go environment
        uses: actions/setup-go@v4
        with:
          go-version: '1.21.4'

      - name: Setup VS environment
        shell: cmd
        run: |
          for /f "usebackq delims=" %%i in (`vswhere.exe -latest -property installationPath`) do echo %%i\VC\Auxiliary\Build>>%GITHUB_PATH%

      - name: Build
        id: build
        shell: cmd
        run: |
          for /f "tokens=3" %%a in ('findstr /r "Number.*=.*[0-9.]*" .\pkg\version\version.go') do set VERSION=%%a
          echo version=%VERSION:"=%>>%GITHUB_OUTPUT%
          build.bat

      - name: Upload assets
        uses: actions/upload-artifact@v4
        with:
          name: assets
          path: |
            bin/*.exe
            bin/*.zip

  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Collect files
        uses: actions/download-artifact@v4
        with:
          name: assets

      - name: Calculate SHA256 checksum
        run: sha256sum *.exe *.zip > frpmgr-${{ needs.build.outputs.version }}-sha256-checksums.txt

      - name: Upload release assets
        uses: shogo82148/actions-upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: |
            ./*.exe
            ./*.zip
            ./*.txt
